.btn__wrap {
  width: 500px;
  margin: 100px auto;
}

.popup__btn {
  width: 150px;
  height: 50px;
  padding: 10px 5px;
}

.modal__wrap {
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "SUITE-Regular";
  animation: up 0.5s;
}
@keyframes up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal__content {
  width: 300px;
  height: 400px;
  padding: 30px 30px;
  margin: 0 auto;
  border: 1px solid #777;
  background-color: #fff;
}

.close__btn {
  position: absolute;
  right: 0;
  font-weight: bold;
  color: #777;
  font-size: 25px;
  cursor: pointer;
}
.close__btn:hover {
  opacity: 0.7;
}
.modal__close {
  position: relative;
  right: 0;
  top: -10px;
}
.profile__img__cover {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  margin: 10px;
  border-radius: 200px;
  border: 1.5px solid rgb(185, 185, 185);
}
.profile__img {
  width: 10rem;
}
.modal__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.modal__body > h1 {
  margin: 4px;
}
.change__name__box {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.change__name {
  margin-left: 3px;
  height: 2rem;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid grey;
  display: block;
  transition: 0.5s;
}
.change__name:focus {
  outline: none;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  border-radius: 3px 3px 0 0;
}
.change__img {
  background-color: whitesmoke;
  min-height: 40px;
  width: 100%;
  position: relative;
  border: 0.5px dotted grey;
  border-radius: 3px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.change__img > input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.change {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.change__submit {
  background-color: #4cb5f9;
  border: none;
  width: 100%;
  border-radius: 8px;
  height: 30px;
  color: white;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
.change__submit:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.block {
  background-color: orangered;
  border: none;
  width: 100%;
  border-radius: 8px;
  height: 30px;
  color: white;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
